exportPattern("^[[:alpha:]]+")
export(UTMtoMGRS)
export(draw_polygon)
export(draw_polygons)
export(draw_symbols)
export(gps_latlon2mgrs)
export(plotUK_gr_symbols)
export(utm2mgrs)
import(sp, rgdal, rgeos, maptools)
